<div id="heading_finance">
    <h2>Finance Calculator</h2>
</div>
<div class="calc-list-wrapper ">
    <div class="calculators-list scrollbar-thin">
        <div class="calc-list-option">
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/simple-interest' ">Simple Interest Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/compound-interest' ">Compound Interest Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/currency-calculator' ">Currency Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/salary-calculator' ">Salary Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/retirement-calculator' ">Retirement Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/sales-and-tax' ">Sales and Tax Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/investment-calculator' ">Investment Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/loan-calculator' ">Loan Calculator</button>
        </div>
    </div>
</div>