<div id="heading_geometry">
    <h2>Geometry Calculator</h2>
</div>
<div class="calc-list-wrapper">
    <div class="calculators-list scrollbar-thin">
        <div class="calc-list-option">
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/2D-distance' ">
                2D-Distance</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/3D-distance' ">
                3D-Distance</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/equilateral-triangle' ">
                Equilateral Triangle</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/isosceles-triangle' ">
                Isosceles Triangle</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/right-angled-triangle' ">
                Right-Angle Triangle</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/cube' ">
                Cube</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/cone' ">
                Cone</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/circle' ">
                Circle</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/cylinder' ">
                Cylinder</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/rectangle' ">
                Rectangle</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/square' ">
                Square</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href='/sphere' ">
                Sphere</button>
        </div>
    </div>
</div>