<!-- ======= Header ======= -->
<!-- Navigation Bar -->
<header>

  <nav class="navbar navbar-expand-lg navbar-light nav">
    <div>
    <a class="navbar-brand" href="/">
      <img class="logo_img" src="images/logo1.png" alt="logo">
    </a>
   </div>  

   <div>
    <a class="navbar-brand logo_name" href="/">
      <h1>ALL IN ONE</h1>
    </a>
   </div>  

   <!-- <form class="d-flex">
    <input class="form-control me-2 search_input" type="search" placeholder="Search calculators" aria-label="Search">
    <button class="btn btn-outline-success search_btn" type="submit">Search</button>
  </form> -->


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav_link_section" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link nav_links" href="/simple-interest">Finance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_links" href="/health-calculator">Health</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav_links" href="/conversion-calculator">Conversion</a>
        </li>

        <!-- sub menu -->
        <li class="nav-item math">
          <a class="nav-link nav_links" href="">Mathematics</a>
          
          <div class="sub_menu_maths">

            <ul class="navbar-nav ml-auto">

              <li class="nav-item">
                <a class="nav-link nav_links" href="/scientific-calculator">Scientific</a>
              </li>

              <li class="nav-item">
                <a class="nav-link nav_links" href="/2D-distance">Geometry</a>
              </li>


              <li class="nav-item">
                <a class="nav-link nav_links" href="/math-and-algebra">Algebra</a>
              </li>
              
            </ul>
          </div>

        </li>

      </ul>

    </div>
  </nav>
</header><!-- End Header -->