<div id="heading_health">
    <h2>Health & Fitness Calculator</h2>
</div>
<div class="calc-list-wrapper ">
    <div class="calculators-list scrollbar-thin">
        <div class="calc-list-option">
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/health-calculator' ">BMI Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/bmr' ">BMR Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/calorie' ">Calorie Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/body-fat' ">Body Fat Calculator</button>
            <button class="btn btn-outline-dark conversionCalcOption" onclick="window.location.href= '/ideal-weight' ">Ideal Weight Calculator</button>
        </div>
    </div>
</div>