<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-in-1 Calculator</title>
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <!-----bootstrap and css import-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5c2baa997c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="geometric-calculators/geometric.css">
    

</head>

<body>
    
    <%- include('../partials/header') %>
    <%- include('../partials/gemoetry-calc-list') %>



<!------------------------ Cube ---------------------------->
<div id="Cube" class="calc">
    <h3>Cube Calculator</h3>
    <div class="cont">
        <div class="inputs">
            <label for="given_data">Choose a calculation:</label>
            <br>
            <select id="given_data_cube" class="input-bar" onchange="setInCube()">
                <option value="a">Find d, S, V | Given a</option>
                <option value="d">Find a, S, V | Given d</option>
                <option value="S">Find a, d, V | Given S</option>
                <option value="V">Find a, d, S | Given V</option>
            </select>


            <div id="in-for-a-cube">
                <label for="a">side a = </label>
                <input name="cubeInput" value="3" class="input-bar cubeInput" type="text"
                    title="positive real number" placeholder="Length of the side" />
            </div>

            <div id="in-for-d-cube">
                <label for="d">solid diagonal d = </label>
                <input name="cubeInput" value="9" class="input-bar cubeInput" type="text"
                    title="positive real number" placeholder="Input diagonal lenght" />
            </div>

            <div id="in-for-S-cube">
                <label for="S">Surface Area S = </label>
                <input name="cubeInput" value="12" class="input-bar cubeInput" type="text"
                    title="positive real number" placeholder="Input Surface area" />
            </div>

            <div id="in-for-V-cube">
                <label for="V">volume V = </label>
                <input name="cubeInput" value="24" class="input-bar cubeInput" type="text"
                    title="positive real number" placeholder="Input volume" />
            </div>


            <div class="input-for-units">
                <label for="units_length">Units</label>
                <select name="units" id="cubeUnits">
                    <option value="km">km</option>
                    <option value="m" selected>m</option>
                    <option value="cm">cm</option>
                    <option value="mm">mm</option>
                    <option value="mi">mi</option>
                    <option value="yd">yd</option>
                    <option value="ft">ft</option>
                    <option value="in">in</option>
                </select>

                <div class="buttons">
                    <button id="resetCube" class="btn btn-outline-dark">Reset</button>
                    <button id="submitCube" class="btn btn-outline-dark">Calculate</button>
                </div>

            </div>
        </div>
        <div class="display">
            Answer:
            <div id="answerCube"></div>
        </div>
    </div>
</div>


<%- include('../partials/footer') %>
</body>
<script src="main.js"></script>
<script src="geometric-calculators/cube.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

</html>