<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All-in-1 Calculator</title>
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <!-----bootstrap and css import-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5c2baa997c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="geometric-calculators/geometric.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include('../partials/header') %>
    <%- include('../partials/gemoetry-calc-list') %>



<!------------------------------ Equilateral ----------------------------->

<div id="eqi-triangle" class="calc">
    <h3>Equilateral Triangle Calculator</h3>
    <div class="cont">
        <div class="inputs">
            <label for="given_data">Choose a calculation:</label>
            <br>
            <select id="given_data_equi" class="input-bar" onchange="setInEquiTriangle()">
                <option value="a" selected>Find P, s, A, h | Given a</option>
                <option value="P">Find a, s, A, h | Given P</option>
                <option value="s">Find a, P, A, h | Given s</option>
                <option value="A">Find a, P, s, h | Given A</option>
                <option value="h">Find a, P, s, A | Given h</option>
            </select>


            <div id="input-for-a">
                <label for="a">a = </label>
                <input name="equiInput" value="3" class="input-bar equiInput" type="text"
                    title="positive real number" placeholder="Length of the side" />
            </div>

            <div id="input-for-P">
                <label for="P">P = </label>
                <input name="equiInput" value="24" class="input-bar equiInput" type="text"
                    title="positive real number" placeholder="Perimeter" />
            </div>

            <div id="input-for-s">
                <label for="s">s = </label>
                <input name="equiInput" value="12" class="input-bar equiInput" type="text"
                    title="positive real number" placeholder="Semi-Perimeter" />
            </div>

            <div id="input-for-A">
                <label for="A">A = </label>
                <input name="equiInput" value="9" class="input-bar equiInput" type="text"
                    title="positive real number" placeholder="Area" />
            </div>

            <div id="input-for-h">
                <label for="h">h = </label>
                <input name="equiInput" value="5" class="input-bar equiInput" type="text"
                    title="positive real number" placeholder="Altitute" />
            </div>


            <div class="input-for-units">
                <label for="units_length">Units</label>
                <select name="units" id="equiUnits">
                    <option value="km">km</option>
                    <option value="m" selected>m</option>
                    <option value="cm">cm</option>
                    <option value="mm">mm</option>
                    <option value="mi">mi</option>
                    <option value="yd">yd</option>
                    <option value="ft">ft</option>
                    <option value="in">in</option>
                </select>

                <div class="buttons">
                    <button id="reset4" class="btn btn-outline-dark">Reset</button>
                    <button id="submit4" class="btn btn-outline-dark">Calculate</button>
                </div>

            </div>
        </div>
        <div class="display">
            Answer:
            <div id="answer4"></div>
        </div>
    </div>
</div>
<%- include('../partials/footer') %>

</body>
<script src="main.js"></script>
<script src="geometric-calculators/triangleEqi.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

</html>