:root {
    --color-primary: #614BC3;
    --color-secondary:#33BBC5;
    --color-heading:#85E6C5;
    --color-text: #C8FFE0;
  }


  body{
    background-color: var(--color-primary);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .scrollbar-thin {
    overflow: auto;
    scrollbar-width: thin;
    background-color: var(--color-heading);
    scrollbar-color: var(--color-primary);
}

::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
    height: 10px; /* Height of the horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary); /* Color of the scrollbar thumb */
    border-radius: 2px; /* Border radius of the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: white; /* Color of the scrollbar thumb on hover */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* Color of the scrollbar track */
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #eee; /* Color of the scrollbar track on hover */
  }

  #heading_geometry{
    text-align: center;
    color: var(--color-heading);
    background-color: var(--color-primary);
    padding: .5rem;
  }

.calc-list-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.calculators-list{
    /* padding: .5rem 7rem .5rem 7rem; */
    border: 2px solid var(--color-heading);
    border-radius: 5px;
    background-color: #eee;
    background-color: var(--color-heading);
}

.calc-list-option {
    overflow: auto;
    display: flex;
}

.calculators-list button {
    display: block;
    height: fit-content;
    width: fit-content;
    white-space: nowrap;
    font-weight: 500;
    padding: 7px 10px;
    margin: 1rem;
    border-radius: 15px;
    border-color: var(--color-heading);
    color: var(--color-primary);
}

.calculators-list button:hover{
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);
}

.calc{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
}

.calc h3{
    text-align: center;
}

h2{
    margin: 20px 0;
    text-align: center;
    color: var(--color-heading);
}

h3{
    /* margin: 20px 0; */
    padding-top: 1rem;
    text-align: center;
    color: var(--color-primary);
}

.cont{
    margin: 0px auto;
    border-radius: 5px;
    padding: 10px;
    width: 500px;
    height: 550px;
    /* border: 2px solid #777; */
    background-color: #eee;
    display: grid;
    grid-template-rows: max-content;
    box-shadow:2px 2px 10px #614BC3;
    background-color: var(--color-heading);
}

.inputs{
    text-align: center;
}

.input-bar{
    /* border-radius: 5px; */
    margin: 5px;
    padding: 2px;
}

#input-ac-rt{
    display: none;
}

#input-for-P,
#input-for-s,
#input-for-A,
#input-for-h{
    display: none;
}

#in-for-d-circle,
#in-for-A-circle,
#in-for-C-circle{
    display: none;
}

#in-for-q-square,
#in-for-P-square,
#in-for-A-square{
    display: none;
}

#in-for-A-sphere,
#in-for-C-sphere,
#in-for-V-sphere{
    display: none;
}

#in-for-d-cube,
#in-for-S-cube,
#in-for-V-cube{
    display: none;
}

#input-for-Aa,
#input-for-Ab,
#input-for-Pa,
#input-for-Pb,
#input-for-pa,
#input-for-pb{
    display: none;
}

#input-for-rV,
#input-for-rL,
#input-for-hL,
#input-for-hV{
    display: none;
}

#cone-input-rs,
#cone-input-rV,
#cone-input-rL,
#cone-input-rA,
#cone-input-hs,
#cone-input-hV,
#cone-input-sL{
    display: none;
}

.buttons{
    padding: 10px;
    display: flex;
    justify-content:space-between ;
}

.display{
    padding: 10px;
    margin: 10px auto;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
}

.calculators{
    /* transform: scale(0); */
    overflow: auto;
    margin: 0 50px;
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    height: 300px;
    border: 2px solid #777;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    box-shadow:5px 5px 10px #777;
}

.calculators button{
    margin: 5px;
    border-radius: 5px;
}


.wrapper{
    /* background-color: #f3f3f3; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc{
    display: block;
}




  /*--------------------------------------------------------------
  # End of main
  --------------------------------------------------------------*/
