<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency Calculator</title>
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />

    <!-----bootstrap and css import-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5c2baa997c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="financial-calculators/financial.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <%- include('../partials/header') %>
    <%- include('../partials/financial-calc-list') %>

        <div id="Currency-Calculator" class="calc">
            <div class="calc-main">
                <div class="cont">
                    <div class="inputs">
                        <label for="amount">Amount:</label>
                        <input type="number" id="amount" min="0" required>

                        <label for="from">From Currency:</label>
                        <select id="from">
                            <option value="usd">USD</option>
                            <option value="eur">EUR</option>
                            <option value="gbp">GBP</option>
                        </select>

                        <label for="to">To Currency:</label>
                        <select id="to">
                            <option value="usd">USD</option>
                            <option value="eur">EUR</option>
                            <option value="gbp">GBP</option>
                        </select>

                        <div class="buttons">
                            <button id="reset-currency" class="btn btn-outline-dark">Reset</button>
                            <button class="btn btn-outline-dark" onclick="calcCurrency()">Calculate</button>
                        </div>
                    </div>

                    <div class="display">
                        Answer:
                        <div id="currency-calculator-result"></div>
                    </div>
                </div>
            </div>

            <div class="finance-calc-info">
                <h3>Currency Calculator (INR)</h3>
                <p>Currency Converter - Calculate live currency, foreign exchange rates via Currency ... Convert currencies
                    like USD to INR, INR to EUR, INR to AED and more.</p>
            </div>
        </div>

        <%- include('../partials/footer') %>
</body>

<script src="financial-calculators/Financialscript.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
    crossorigin="anonymous"></script>

</html>